			/*GEENERAL BEGIN*/
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: OpenSans;
	src:url(../fonts/OpenSans.ttf);
}

body {
	font:13px/1.38 OpenSans, Tahoma, sans-serif;
}


			/*GEENERAL END*/

.header {
	background: url(../img/bg-header.png) repeat-x 0 0, url(../img/bg-header.png) repeat-x 0 100% #3e4c54;
}

.inner-header {
	background: url(../img/bg-inner.png) no-repeat 50% 100%;
}

.wrapper {
	width: 990px;
	margin: 0 auto;
}

header .hdr-list li {
	float: left;
}

.hdr-list img {
	margin: -3px 0 0 23px;
}


.description {
	font-size: 18px;
	color: #ccc;
	line-height: 21px;
	margin: 18px 64px 0 21px;
}

.basket {
	padding: 19px 0 12px 55px;
	background: url(../img/basket.png) no-repeat 0 50%;
	display: block;
	color: #fff;
}

.fs18 {
	font-size: 18px;
	line-height: 18px;
}

.info-block {
	text-align: right;
}

.net-icons {
	margin-right: 30px;
}

.net-icons li {
	float: right;
	margin-left: 5px;
}

.net-icons li a {
	height: 18px;
	width: 18px;
	display: block;
	background: url(../img/sprite.png) no-repeat 0 0;
	margin: 10px 0;
}

.net-icons li a.fb {
	background-position: -23px 0;
}

.net-icons li a.tw {
	background-position: -46px 0;
}

.tel {
	font-size: 16px;
    color: #fff;
    display: block;
    clear: right;
    margin-right: 30px;
    margin-bottom: 5px;
    line-height: 5px;
}

.registration li {
	float: right;
	margin-left: 7px;
}

.registration li:first-child {
	border-left: 1px solid #90989c;
	padding-left: 7px;
}

.registration li a {
	color: #90989c;
	text-decoration: underline;
	font-size: 12px;
}

.registration li:first-child a{
	margin-right: 30px;
}

.registration li a:hover {
	text-decoration: none;
}

.nav {
	background: #1d1d1d;
}

.nav-inner {
	background: url(../img/bg-nav-inner.png) no-repeat 50% 0;

}

nav>ul>li {
	position: relative;
	float: left; 
	margin-right: 15px;
}

nav>ul>li>a {
	display: block;
	color: #999;
	padding: 15px 12px;
	transition:color ,1s;
}

nav>ul>li>a:hover {
	color: #fff;
	background-image: linear-gradient(to top,#353535,#292929);
}

nav li>ul {
	display: none;
	position: absolute;
	top: 46px;
	z-index: 1;
}

li>ul>li {
	border-top: 1px solid #fff;
	width: 125px;
}

li>ul>li>a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 5px;
	transition:color ,1s;
}

nav>ul>li:hover ul {
	display: block;
	background: #353535;
}

li>ul>li>a:hover {
	color: #999;
}

.main {
	background: url(../img/bg-main.png) repeat-x 0 0 #fff;
	padding: 27px 0 41px 0;
}

.sidebar {
	width: 249px;
	float: left;
}

.products-name {
	padding: 0 0 36px 13px;
}

.products-name a {
	font-size: 18px;
	color: #6b8492;
	text-transform: uppercase;
}

.products-name a.active {
	text-decoration: underline;
}

.products-name a:hover {
	text-decoration: underline;
}

.sb-block .title {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	background: #899da8;
	padding: 3px 0 3px 9px;
}

.sb-block {
	margin-bottom: 24px;
}

.options ul {
	padding: 3px 0 14px 5px;
	background: #fafbfb;
}

.options .china {
	color: #f36720;
	padding-left: 10px;
	background: url(../img/bg-china.png) no-repeat 0px 8px;
}

.options .china:hover {
	background-position: 0px -8px;
}

.options .reset {
	display: block;
	color: #333;
	text-decoration: underline;
	margin-top: 10px;
}


.options .reset:hover {
	text-decoration: none;
}

.country a {
	color: #333;
	margin-left: 9px;
}

.seasons li {
	display: inline-block;
	width: 70px;
	margin-right: 11px;
}

.seasons ul {
	padding: 5px 0;
}

.size li {
	display: inline-block;
	width: 35px;
	margin-right: 45px;
}

.size ul {
	padding: 5px 0;
}

.cena a {
	color: #333;
	margin-left: 9px;
}

.cena a:hover {
	text-decoration: underline;
}

.sale li {
	display: inline-block;
	width: 71px;
	margin-right: 11px;
}

.sale ul {
	padding: 5px 0;
}

.material li {
	display: inline-block;
	margin-right: 20px;
}

.material ul {
	padding: 5px 0;
}

.color li {
	display: inline-block;
	margin-right: 20px;
}

.color ul {
	padding: 5px 0;
}

.info {
	background: #fafbfb;
}

.info p {
	display: block;
	padding-left: 10px;
}


.daffi {
	margin-top: 10px;
}

.number {
	margin-top: 10px;
}

.info a {
	display: block;
	margin: 10px 0 0 10px;
	color: #666;
	font-size: 13px;
}

.info a:hover {
	text-decoration: underline;
}

.right-col {
	width: 710px;
	float: right;
}


.search-block {
	width: 700px;
	border: 1px solid #6b8492;
	margin-bottom: 30px;
}

.search-form {
	float: right;
}

.search-form input[type=text] {
	background: transparent;
	border: none;
}

.search-form input[type=button] {
	color: #fff;
	border: none;
	background: #6b8492;
	padding: 8px 20px;
	margin-right: -1px;
	cursor: pointer;
}

.bread-crumbs {
	padding: 6px 14px; 
	background: url(../img/bg-crumbs.png) no-repeat 100% 0 #fff;
	width: 415px;
}

.bread-crumbs a {
	text-decoration: underline;
	color: #666;
}

.bread-crumbs a:hover {
	text-decoration: none;
}

.products-list>li {
	display: inline-block;
	margin: 0 10px 45px 0px;
	min-height: 310px;
	float: left;
	position: relative;
	border: 1px solid transparent;
}

.products-list>li:hover, .products-list>li.active {
	border: 1px solid #6b8492;
	cursor: pointer;
	background: url(../img/bg-price.png) no-repeat 90% 96%;
	box-shadow: 1px 1px 7px rgba(170, 132, 146, 0.5);
	transition: box-shadow .5s;
}

.products-list>li:nth-child(4n) {
	margin-right: 0;
}

.products-list>li>img {
	border: 1px solid #6b8492;
}

.products-list>li>img:hover {
	border: 1px solid transparent;
}

.product {
	padding-left: 10px;
}

.old-price {
	color: #f36720;
	text-decoration: line-through;
}

.price {
	position: absolute;
	left: 11px;
	bottom: 10px;
	color: #6b8492;
	font-size: 18px;
}

.price-block img {
	float: right;
	margin: 10px 10px;
}

.special {
	display: block;
    position: absolute;
    top: 15px;
    left: 90px;
    color: #fff;
}


.special li {
	border: none;
}

.red {
    width: 70px;
    text-align: center;
    background: url(../img/red.png) no-repeat 0 0;
    padding: 3px 3px 3px 7px;
}

.green {
    width: 70px;
    text-align: center;
    background: url(../img/grean.png) no-repeat 0 0;
    padding: 4px;
}

.pager {
	text-align: center;
}

.pager li {
	display: inline-block;
	margin-right: 5px;
}

.pager a {
	padding: 4px 12px;
	color: #999;
}

.pager .active,.pager a:hover {
	background: #6b8492;
	border-radius: 4px;
	color: #fff;
}

.footer {
	background: url(../img/bg-footer-layer.png) repeat-x 0 3px, url(../img/bg-footer.png) no-repeat 50% 0 #fff;
	padding: 10px 0 20px 0;	
}

.right-footer-block {
	float: right;
}

.right-footer-block ul {
	color: #666;
	width: 310px;
	text-align: right;
	margin-bottom: 20px;
}

 .adress-block {
	float: left;
	margin-right: 10px;
}

.sait a {
	color: #666;
	text-decoration: underline;
	display: block;
	text-align: right;
}

.sait a:hover {
	text-decoration: none;
}

.left-footer-block img {
	margin-bottom: 15px;
}

.left-footer-block a {
	display: inline-block;
}

.web-creator {
	color: #666;
	text-decoration: underline;
	padding-right: 2px;
}

.web-creator:hover {
	text-decoration: none;
}




/*CLEARFIX*/

header:after,
nav:after,
.size:after,
.main:after {
	content: "";
	display: table;
	clear: both;
};