@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Domine-Regular;
  src: url(../fonts/Domine-Regular.ttf);
}


a {
  text-decoration: none;
}


body {
  background: #fff;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

p {
  margin: 0;
}

 ul {
  list-style: none;
  padding: 0;
}

.top-block {
  background: url(../img/bg-top-block.png) no-repeat 0 0;
  padding-bottom: 70px;
  margin-bottom: 95px;
}

.margin-top-40 {
  margin-top: 40px;
  margin-bottom: 160px;
}

.nav-top li a {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #e2e2e2;
  text-transform: uppercase;
  padding: 10px;
}

.nav-top li a:hover {
  color: #ffac55;
  text-decoration: none;
}

.active1 a {
  color: #ffac55!important;
}

.top-phone {
  display: inline-block;
  padding: 0 10px;
}

.banner-text {
  margin-bottom: 45px;
}

.banner-text h1 {
  font-size: 48px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.connect_us {
  font-family: Montserrat-Regular;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #343a3b;
  margin-bottom: 40px;
  margin-top: 0;
}

.connect-us img {
  float: left;
  margin: 10px 25px 40px 0;
}

.connect {
  margin-bottom: 40px;
}


.connect span {
  font-family: Montserrat-Regular;
  font-size: 14px;
  text-transform: uppercase;
  color: #343a3b;
}

.connect p, .connect a {
  font-family: Domine-Regular;
  font-size: 14px;
  color: #838b8c;
}

.connect a {
  display: block;
}

.contact-input {
  display: inline-block;
  margin-right: 10px;
}


button[type="button"] {
  background: #16d428;
  font-family: Montserrat-Regular;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  outline: none;
}

button[type="button"]:hover {
  background: #fff;
  font-family: Montserrat-Regular;
  color: #343a3b;
  font-size: 13px;
  text-transform: uppercase;
  border: 2px solid #16d428;
  border-radius: 30px;
  padding: 15px 30px;
  outline: none;
}

button[type="button_two"] {
  background: #fff;
  font-family: Montserrat-Regular;
  color: #343a3b;
  font-size: 13px;
  text-transform: uppercase;
  border: 2px solid #16d428;
  border-radius: 30px;
  padding: 15px 30px;
  outline: none;
}

.write h3 {
  font-family: Montserrat-Regular;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #343a3b;
  margin-bottom: 55px;
  margin-top: 95px;
}

.content-block-write-to-us {
  background: #e7eff1;
}


input::-webkit-input-placeholder {
  color: #343a3b;
}

textarea::-webkit-input-placeholder {
  color: #343a3b;
}

input[type="text"] {
  display: inline-block;
  width: 555px;
  font-family: Montserrat-Regular;
  font-size: 12px;
  outline: none;
  background: transparent;
  color: #343a3b;
  border: none;
  border-bottom: 1px solid #cddbde;
  margin-bottom: 50px;
}

textarea[name="message"] {
  width: 1130px;
  height: 170px;
  font-family: Montserrat-Regular;
  font-size: 12px;
  outline: none;
  background: transparent;
  color: #343a3b;
  border: none;
  border-bottom: 1px solid #cddbde;
  margin-top: 30px;
  margin-bottom: 80px;
}

input[type="submit"] {
  background: #16d428;
  font-family: Montserrat-Regular;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin-bottom: 63px;
  outline: none;
}


.footer {
  background: #262829;
}

.footer-logo {
  margin-top: 190px;
}

.footer-caption h4 {
  font-family: Montserrat-Regular;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e1e1e1;
  margin-top: 95px;
  margin-bottom: 30px;
}

.footer-caption a {
  font-family: Montserrat-Regular;
  font-size: 13px;
  text-transform: uppercase;
  color: #838b8c;
  line-height: 30px;
}

.footer-caption p {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #838b8c;
}

.footer-form {
  background: #323334;
  border-radius: 30px;
  width: 335px;
  margin-top: 40px;
}

input[type="email"] {
  width: 170px;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #5e5e5e;
  border: none;
  outline: none;
  margin-left: 10px;
}

button[type="button-4"] {
  background: #16d428;
  font-family: Montserrat-Regular;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  outline: none;
}

.pad_bot_95 {
  padding-bottom: 95px;
}

.footer-bottom {
  border-top: 1px solid #323334;
  padding-top: 25px;
  margin-bottom: 55px;
}

.footer-bottom span {
  font-family: Domine-Regular;
  font-size: 15px;
  color: #838b8c;
}

.footer-social a {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 13px;
  text-transform: uppercase;
}

.footer-social a:hover {
  text-decoration: none;
}

a.color_1 {
  color: #385da5;
}

a.color_2 {
  color: #00b5da;
}

a.color_3 {
  color: #d4c5a8;
}

a.color_4 {
  color: #1883bb;
}

a.color_5 {
  color: #e4463b;
}
